header {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
  color: black;
  padding: 25px;
}
.header-dark {
  background-color: var(--darkmode);
}


header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header div nav {
  display: flex;
  align-items: center;
}

.titleHeader{
  font-size: 1.8rem;
  margin: 0;
  background: linear-gradient(
    to right,
    var(--main-color) 0%,
    var(--secondary-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header > div nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > div nav ul li {
  list-style: none;
}

header > div nav ul li a {
  padding: 5px 20px;
  text-decoration: none;
  color: var(--fourth-color);

  font-size: 1.2rem;
  font-weight: 500;
}

.ul-darkMode li a{
  color: var(--third-color);
}
.ul-darkMode li a:hover{
  color: var(--secondary-color);
}
header > div nav ul li a:hover {
  color: var(--third-color);
}

header > div h2 {
  color: var(--main-color);
}

.containerIconBurger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: space-around;
  width: 100%;
  margin-right: 20px;
  cursor: pointer;
}


.header-mobile {
  display: flex;
  justify-content: flex-end;
  right: 0;
  padding-top: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.header-mobile ul  {
  list-style: none;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.header-mobile ul li {
  padding-top: 0.5rem;
}

.header-mobile ul li a{
  text-decoration: none;
  color: var(--fourth-color);
  list-style: none;
  margin-bottom: 1rem;
}

.header-mobile li{
  margin-bottom: 0.7rem;
}

.containerIconX{
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  top: 0;
  padding: 1rem 1.5rem;
}
.titleMobile{
  font-size: 1.4rem;
  background: linear-gradient(
    to right,
    var(--main-color) 0%,
    var(--secondary-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faMobileDark {
  color: var(--third-color);
}

.faMobile{
  color: var(--fourth-color);
}

.darkList ul li a{
  color: var(--third-color);
}