.title-visualization{
    text-align: center;
    color: var(--fourth-color);
    padding-top: 1rem;
 font-weight: 700;
    letter-spacing: 0px;
    font-size: 1.8rem;
    font-family: "Quicksand", sans-serif;
}


.title-dark{
    color: var(--third-color);
}
.visualization-container{
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}

.visualization-container div{
    border-radius: 4px;
    border: 3px solid var(--fourth-color);
    padding: 5px;
    cursor:pointer;
    transition: 0.5s;
    box-shadow: 0 0 2px var(--third-color), 0 0 4px var(--fourth-color);

}

.visualization-container div:hover{
    transform: scale(1.10);
}

.fa-list, .fa-grip{
    color: var(--fourth-color);

}

.fa-listDark, .fa-gripDark {
    color: var(--third-color);
}