@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");


@font-face {
  font-family: "Pokemon";
  src: url("./fonts/pokemon_solid-webfont.woff2") format("woff2"),
    url("./fonts/pokemon_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "Pokemon", sans-serif;
  letter-spacing: 1.5px;
  height: 100%;
}

 html {
  height: 100%;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.dark{
  background-color: var(--darkmode);

}
.empty-message-dark{
  background-color: var(--darkmode);
  height: 100vh;
  text-align: center;
  padding: 5rem;
  color: var(--third-color);
  text-shadow: rgba(93,185,255,0.9) 0px 0px 37px;


}

.empty-message h2{
  text-align: center;
  margin: 5rem;
  color: var(--fourth-color);
  
}

:root {
  --main-color: #FF1F1F;
  --secondary-color: #FBD743;
  --third-color: #5DB9FF;
  --fourth-color: #363B81;
  --darkmode: #292929;
}

