@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Pokemon";
  src: url("./fonts/pokemon_solid-webfont.woff2") format("woff2"),
    url("./fonts/pokemon_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
 
  /* min-height: 100%; */
  font-family: "Pokemon", sans-serif;
  letter-spacing: 1.5px;
   height: 100%; 
  background-color: var(--background);
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: var(--darkmode);
  height: 90vh;
}
.bg-dark {
  background-color: var(--darkmode);
}
.empty-message-dark {
  background-color: var(--darkmode);
  height: 110vh;
  text-align: center;
  padding: 5rem;
  color: var(--third-color);
  text-shadow: rgba(93, 185, 255, 0.9) 0px 0px 37px;
}

.empty-message{
height: 44vh;
}
.empty-message h2 {
  text-align: center;
  margin: 5rem;
  color: var(--fourth-color);
}

:root {
  --main-color: #ff1f1f;
  --secondary-color: #fbd743;
  --third-color: #5db9ff;
  --fourth-color: #363b81;
  --darkmode: #292929;
}



/*tablet*/
@media screen and (max-width: 992px) {
  .empty-message-dark {
    height: 61vh;
}
.empty-message{
  height: 55vh;
}
.dark{
  /* min-height: 40vh; */
}
.light{
  min-height: 75vh;
}
}

/*mobile*/
@media screen and (max-width: 426px) {
  .empty-message{
    height: 57vh;
  }
  .light{
    min-height: 50vh;
  }

  .empty-message-dark {
    min-height: 50vh;
 }
  .dark{
    min-height: 80vh;
  }

}